<%= link_to "新規登録", '/users/new' %>
<%= form_tag('/users/search', method: :get) do %>
  <%= label_tag :名前　%>
  <%= text_field_tag :search_name %>
  <%= label_tag :年齢 %>
  <%= text_field_tag :search_age %>
  <%= submit_tag '検索' %>
<% end %>
<table>
  <tbody>
    <thead>
      <tr>
        <th>名前</th>
        <th>年齢</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= link_to "削除", "/users/#{user.id}", method: :delete, data: {confirm: "削除しますか？"} %></td>
        <td><%= link_to "編集", "/users/#{user.id}/edit", method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>
